*.log
database.json
node_modules/
rethinkdb_data/
.idea/
*.iml
.npm/
.gitconfig
.bash_history
.bash_login
static/img/*.png
*.db
*.db-journal
.env
/.next/
/out/
/build
.DS_Store
*.pem
/.pnp
.pnp.js
.env.local
.env.development.local
.env.test.local
.env.production.local
.direnv
flake.lock
