/* eslint header/header: 0 */
module.exports = {
  db: {
    client: 'sqlite3',
    useNullAsDefault: true,
    connection: {
      filename: './prod.db',
    },
  },

  testDbConnection: {
    filename: './test.db',
  },

  settings: {
    allowDebt: true,
    maxDebt: -150,
  },

  mqtt: {
    enable: false,
    host: 'localhost',
    port: 1882,
    prefix: 'service/fnordcredit',
  },
};
