var config = {}

config.mqtt = {};

config.mqtt.enable = false;
config.mqtt.host = "localhost";
config.mqtt.port = 1883;
config.mqtt.prefix = "service/fnordcredit";


config.rethinkdb = {};

config.rethinkdb.host = "";
config.rethinkdb.port = 28015;
config.rethinkdb.db = "fnordcredit";
config.rethinkdb.authKey = "";

module.exports = config;