[project]
	description = Open source credit system.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/@xAndy (ydnax)
	owner = group user/silsha fux (silsha)
[access "refs/for/refs/*"]
	read = group user/silsha fux (silsha)
	push = group user/silsha fux (silsha)
	label-Code-Review = -2..+2 group user/silsha fux (silsha)
	label-Verified = -1..+1 group user/silsha fux (silsha)
	rebase = group user/silsha fux (silsha)
	removeReviewer = group user/silsha fux (silsha)
	submit = group user/silsha fux (silsha)
[access "refs/heads/*"]
	read = group user/silsha fux (silsha)
	create = group user/silsha fux (silsha)
	push = +force group user/silsha fux (silsha)
	pushMerge = group user/silsha fux (silsha)
[access "refs/tags/*"]
	push = +force group user/silsha fux (silsha)
	pushTag = group user/silsha fux (silsha)
	pushSignedTag = group user/silsha fux (silsha)
