[project]
	description = Open source credit system.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/silsha
[access "refs/for/refs/*"]
	read = group user/silsha
	push = group user/silsha
	label-Code-Review = -2..+2 group user/silsha
	label-Verified = -1..+1 group user/silsha
	rebase = group user/silsha
	removeReviewer = group user/silsha
	submit = group user/silsha
[access "refs/heads/*"]
	read = group user/silsha
	create = group user/silsha
	push = +force group user/silsha
	pushMerge = group user/silsha
[access "refs/tags/*"]
	push = +force group user/silsha
	pushTag = group user/silsha
	pushSignedTag = group user/silsha
