.btn-lg{
    width: 100px;
    margin-left: 10px;
    padding-left: 11px;
    margin-bottom: 10px;
}

#search {
    margin-left: 15px;
}

#accounts,
#statistics{
    margin-top: 25px;
}

.account,
.statistic{
    width: 150px; /* yolo */
    height: 100px;
    margin-right: 30px;
    cursor: pointer;
}

.account .name,
.statistic .title{
    margin-top: 10px;
    font-size: 20px;
}

.account .credit,
.statistic .value{
    font-size: 20px;
}

.detail{
    margin-top: 25px;
}

.detail .name{
    margin-top: 25px;
    font-size: 30px;
}

.detail .credit{
    margin-top: -15px;
    font-size: 40px;
}

.userinfo{
    height: 239px;
}

.pager li>a{
    font-size: 30px;
    cursor:pointer;
}

.newuser{
    margin-top: -5px;
    font-size: 70px;
    text-align: center;
}

#newUserForm{
    margin-top: 20px;
}

#newUserForm input{
    margin-top: 20px;
    font-size: 30px;
    height: 60px;
}

.renameuser{
    margin-top: -5px;
    font-size: 70px;
    text-align: center;
}

#renameUserForm{
    margin-top: 20px;
}

#renameUserForm input{
    margin-top: 20px;
    font-size: 30px;
    height: 60px;
}

.debt{
    background-color: #785D6C;
}

.pager a{
    width: 100%;
}

#pinwindow-pin {
    text-align: center;
    font-size: x-large;
    height: 60px;
}

#pinwindow-pad {
    text-align: center;
}


#pinwindow-pad .btn {
    height: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
    font-size: xx-large;
    display: table-cell;
    vertical-align: middle;
}

ul.navbar-nav {
    max-width: 100%;
}

.btn-credit-action {
    padding: 0;
    width: 115px;
    height: 115px;
}