<form role="form" id="changeTokenForm">
    <div class="form-group" id="changeTokenForm">
        <input type="hidden" name="username" value="{#user}{name}{/user}" required class="form-control">
        <input type="token"git readonly=false name="newtoken" id="newtoken" placeholder="please scan token now" maxlength=15 required class="form-control" >
        <input type="submit" value="save token" class="form-control">
    </div>
</form>

<ul class="pager">
    <li class="previous back" data-back-view="details"><a>← Back</a></li>
</ul>