<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Enter PIN</h4>
        </div>
        <div id="pinwindow-content">
            <form role="form" id="pinwindowForm">
                <div id="pinwindowFormGroup" class="form-group">
                    <input type="hidden" id="pinwindow-user" name="username" value="{username}">
                    <input type="password" name="pin" id="pinwindow-pin" placeholder="PIN" required="" class="form-control">
                </div>
                <div id="pinwindow-pad" class="form-group">
                    <div class="col-xs-4 btn" id="pinpad-num-1">1</div>
                    <div class="col-xs-4 btn" id="pinpad-num-2">2</div>
                    <div class="col-xs-4 btn" id="pinpad-num-3">3</div>
                    <div class="col-xs-4 btn" id="pinpad-num-4">4</div>
                    <div class="col-xs-4 btn" id="pinpad-num-5">5</div>
                    <div class="col-xs-4 btn" id="pinpad-num-6">6</div>
                    <div class="col-xs-4 btn" id="pinpad-num-7">7</div>
                    <div class="col-xs-4 btn" id="pinpad-num-8">8</div>
                    <div class="col-xs-4 btn" id="pinpad-num-9">9</div>
                    <div class="col-xs-4 btn btn-danger" id="pinpad-back"><i class="glyphicon glyphicon-remove"></i>
                    </div>
                    <div class="col-xs-4 btn" id="pinpad-num-0">0</div>
                    <div class="col-xs-4 btn btn-success btn-subm" id="pinpad-ok"><i class="glyphicon glyphicon-ok"></i>
                    </div>
                </div>
            </form>
        </div>

        <div class="modal-footer" id="pinwindow-footer">
        </div>
    </div>
</div>