<form role="form" id="renameUserForm">
    <div id="renameUserForm" class="form-group">
        <input type="hidden" name="id" value="{#user}{id}{/user}" required class="form-control">
        <input type="username" name="newname" id="newname" placeholder="new name   (15 characters maximum)" maxlength=15 required class="form-control" >
        <input type="submit" value="rename user" class="form-control">
    </div>
</form>


<ul class="pager">
    <li class="previous back" data-back-view="details"><a>← Back</a></li>
</ul>
